.info {
  color: #2B2B2B;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.info ul {
  z-index: -1;
  position: absolute;
  top: 16px;
  list-style: none;
}

.info .current-score {
  position: absolute;
  bottom: 32px;
  left: 34px
}

.info .high-score {
  position: absolute;
  bottom: 32px;
  right: 36px;
}

.snake {
  margin: 0;
  position: relative;
  top: 48px;
  margin: 0 auto;
  width: 832px;
  opacity: 1;
  transition: opacity 500ms;
}

.snake.paused {
  opacity: 0.3;
}

.snake:after {
  content: " ";
  display: block;
  clear: both;
}

.square {
  float: left;
  background-color: transparent;
  width: 14px;
  height: 14px;
  margin: 1px;
  border-radius: 4px;
}

.square.apple {
  background-color: green;
}

.square.on {
  background-color: red;
}

.stopper {
  float: left;
  width: 16px;
  height: 16px;
  transition: 300ms;
}

.stopper.left {
  width: 15px;
  height: 16px;
  border-right: 1px solid white;
}

.stopper.active.left {
  border-right: 1px solid black;
}

.stopper.right {
  width: 15px;
  height: 16px;
  border-left: 1px solid white;
}

.stopper.active.right {
  border-left: 1px solid black;
}

.stopper.top {
  width: 16px;
  height: 15px;
  border-bottom: 1px solid white;
}

.stopper.active.top {
  border-bottom: 1px solid black;
}

.stopper.bottom {
  width: 16px;
  height: 15px;
  border-top: 1px solid white;
}

.stopper.active.bottom {
  border-top: 1px solid black;
}

.stopper.subactive.left {
  border-right: 1px solid #ccc;
}

.stopper.subactive.right {
  border-left: 1px solid #ccc;
}

.stopper.subactive.top {
  border-bottom: 1px solid #ccc;
}

.stopper.subactive.bottom {
  border-top: 1px solid #ccc;
}
