html * {
  font-family: 'Roboto', sans-serif !important;
  font: inherit;
}

.info {
  color: #2B2B2B;
  font-weight: lighter;
}

.info ul {
  z-index: -1;
  position: absolute;
  top: 16px;
  list-style: none;
}

.info .current-score {
  position: absolute;
  z-index: -1;
  bottom: 32px;
  left: 34px
}

.info .high-score {
  position: absolute;
  z-index: -1;
  bottom: 32px;
  right: 36px;
}

.me-info {
  opacity: 0;
  position: relative;
  width: 350px;
  margin: 0 auto;
  top: -520px;
  transition: 1.5s;
  transition-timing-function: ease;
}

.me-info img {
  float: left;
  margin-right: 16px;
  height: 150px;
}

.me-info ul {
  list-style: none;
}

.me-info h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.me-info p {
  margin-top: 0;
}

.me-info .bullet-block {
  display: inline-block;
  background-color: purple;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 4px;
}

.game-over {
  /*display: none;*/
  position: relative;
  text-align: center;
  font-size: 42px;
  top: -400px;
  opacity: 0;
  transition: 1.5s;
  transition-timing-function: ease;
}

.countdown-blocks {
  position: relative;
  width: 72px;
  margin: 0 auto;
  bottom: 292px;
}

.countdown-blocks:after {
  display:block;
  clear: both;
  content: "";
}

.countdown-block {
  opacity: 0;
  float: left;
  background-color: blue;
  width: 14px;
  height: 14px;
  margin: 5px;
  border-radius: 4px;
  transition: opacity 1.5s;
}

.snake {
  margin: 0;
  position: relative;
  top: 48px;
  margin: 0 auto;
  width: 832px;
  opacity: 1;
  transition: opacity 500ms;
}

.snake.paused {
  opacity: 0.2;
}

.snake:after {
  content: " ";
  display: block;
  clear: both;
}

.square {
  float: left;
  background-color: transparent;
  width: 14px;
  height: 14px;
  margin: 1px;
  border-radius: 4px;
}

.square.apple {
  background-color: green;
}

.square.on {
  background-color: red;
}

.stopper {
  float: left;
  width: 16px;
  height: 16px;
  transition: border 300ms;
  background-color: transparent;
}

.stopper.left {
  width: 15px;
  height: 16px;
  border-right: 1px solid white;
}

.stopper.active.left {
  border-right: 1px solid black;
}

.stopper.intro-active.left {
  border-right: 1px solid black;
}


.stopper.right {
  width: 15px;
  height: 16px;
  border-left: 1px solid white;
}

.stopper.active.right {
  border-left: 1px solid black;
}

.stopper.intro-active.right {
  border-left: 1px solid black;
}

.stopper.top {
  width: 16px;
  height: 15px;
  border-bottom: 1px solid white;
}

.stopper.active.top {
  border-bottom: 1px solid black;
}

.stopper.intro-active.top {
  border-bottom: 1px solid black;
}

.stopper.bottom {
  width: 16px;
  height: 15px;
  border-top: 1px solid white;
}

.stopper.active.bottom {
  border-top: 1px solid black;
}

.stopper.intro-active.bottom {
  border-top: 1px solid black;
}

.stopper.subactive.left {
  border-right: 1px solid #ccc;
}

.stopper.subactive.right {
  border-left: 1px solid #ccc;
}

.stopper.subactive.top {
  border-bottom: 1px solid #ccc;
}

.stopper.subactive.bottom {
  border-top: 1px solid #ccc;
}
